* {
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-color: #ea5455;
  color: #fff;
  padding: 100px 0px;
  border-radius: 0;
}

.jumbotron > h1 {
  font-family: Sansita Swashed;
  /* font-family: Secular One; */
  /* font-family: Dancing Script; */
  /* font-family: Indie Flower; */
}

.search__btn {
  background-color: #000;
  color: #fff;
}

.search__btn:hover {
  background-color: #ffa5a5;
  color: #000;
}
